<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Stock
      <small>Report</small>
    </h1>
    <ol class="breadcrumb">
      <li>
        <a href="#">
          <i class="fa fa-dashboard"></i> Home</a>
      </li>
      <li>
        <a href="#">Stock</a>
      </li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon">
                <img src="{{baseUrl}}assets/images/ic_product.png" class="logo">
              </span>
              <div class="info-box-content">
                <p class="p_custom">Products
                </p>
                <h2>{{mDataArray.length}}</h2>
              </div>
            </div>
          </div>


          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon">
                <img src="{{baseUrl}}assets/images/box.png" class="logo">
              </span>
              <div class="info-box-content">
                <p class="p_custom">Total Stock
                </p>
                <h2>{{Sumstock | number}}</h2>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
              <span class="info-box-icon">
                <img src="{{baseUrl}}assets/images/ic_out_of_stock.png" class="logo">
              </span>
              <div class="info-box-content">
                <p class="p_custom">SoldOut
                </p>
                <h2>0</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="box">

          <div class="box-body">
            <div class="row" style="margin-bottom: 40px;">
              <div class="col-xs-6">
                <input (keyup)="onSearch($event.target.value)" type="search" class="form-control input-lg"
                  placeholder="Enter search keyword" style="border-radius:10px;">
                <!-- <input (keyup)="searchTerm$.next($event.target.value)" type="search" class="form-control input-lg" 
                  placeholder="Enter search keyword" style="border-radius:10px;"> -->
              </div>
              <div class="col-xs-6 text-right">
                <a routerLink="/stock/create" style="float:right; margin:0; width: 100px;"
                  class="btn btn-success btn-lg">เพิ่ม</a>
              </div>
            </div>

            <div class="table-wrapper">
              <table datatable data-order='[[ 0, "desc" ]]' data-page-length='5' id="stock_table" class="table table-bordered table-striped table-hover"
                style="height: 300px; max-height: 300px;">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>PRICE</th>
                    <th>STOCK</th>
                    <th>Created Date</th>
                    <th style="width: 180px !important;text-align: center;">ACTION</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of mDataArray">
                    <td style="text-align: center;">{{item.id}}</td>
                    <td>
                      <span style="margin-right:10px">
                        <a (click)="showImage(item.image)">
                          <img src="{{node_static_url}}/images/{{item.image}}?timestamp={{timestamp}}"
                            style="max-width: 50px;">
                        </a>
                      </span>
                      <strong style="width: 70px;overflow: hidden;white-space: nowrap; text-overflow: ellipsis;">
                        {{item.name}}
                      </strong>
                    </td>
                    <td>฿{{item.price | number: '1.2-2'}}</td>
                    <td>{{item.stock | number}} PCS.</td>
                    <td>{{item.createdAt | date : 'dd/MM/yyy'}}</td>
                    <td style="text-align: center;">
                      <button (click)="editProduct(item.id)" type="button" class="btn btn-info">แก้ไข</button>
                      <span> | </span>
                      <button (click)="deleteProduct(item.id)" type="button" class="btn btn-danger">ลบ</button>


                    </td>
                  </tr>
                </tbody>

              </table>
            </div>

          </div>
          <!-- /.box-body -->
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->

</div>
<script>
  $(document).ready(function () {
    $('#dtDynamicVerticalScrollExample').DataTable({
      "scrollY": "50vh",
      "scrollCollapse": true,
    });
    $('.dataTables_length').addClass('bs-select');
  });

</script>
